@import './base.css';

/* app le da estilo a toda la aplicacion*/
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* con esto le decimos que los hipervículos no estén subrallados*/
a{
  text-decoration: none;
  color: var(--vt-c-white);
}


/* agregamos media query para el responsivo*/
@media (min-width: 768px) {
  #app {
    display: flex;
    flex-direction: column;
    font-size: small;
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}